In [ ]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
dataset = pd.read_csv('/content/drive/My Drive/Dataset/housing.csv')
dataset

        crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0    0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1    0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2    0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3    0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4    0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2
..       ...   ...    ...   ...    ...  ...  ...      ...     ...    ...   ...
501  0.06263   0.0  11.93     0  0.573  ...  273     21.0  391.99   9.67  22.4
502  0.04527   0.0  11.93     0  0.573  ...  273     21.0  396.90   9.08  20.6
503  0.06076   0.0  11.93     0  0.573  ...  273     21.0  396.90   5.64  23.9
504  0.10959   0.0  11.93     0  0.573  ...  273     21.0  393.45   6.48  22.0
505  0.04741   0.0  11.93     0  0.573  ...  273     21.0  396.90   7.88  11.9

[506 rows x 14 columns]

In [ ]:
dataset.describe()

             crim          zn       indus  ...           b       lstat        medv
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...  356.674032   12.653063   22.532806
std      8.601545   23.322453    6.860353  ...   91.294864    7.141062    9.197104
min      0.006320    0.000000    0.460000  ...    0.320000    1.730000    5.000000
25%      0.082045    0.000000    5.190000  ...  375.377500    6.950000   17.025000
50%      0.256510    0.000000    9.690000  ...  391.440000   11.360000   21.200000
75%      3.677082   12.500000   18.100000  ...  396.225000   16.955000   25.000000
max     88.976200  100.000000   27.740000  ...  396.900000   37.970000   50.000000

[8 rows x 14 columns]

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    int64
 10  ptratio  506 non-null    float64
 11  b        506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [ ]:
dataset.isnull().sum()

crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
b          0
lstat      0
medv       0
dtype: int64

In [ ]:
dataset.corr()['medv'][:-1]

crim      -0.388305
zn         0.360445
indus     -0.483725
chas       0.175260
nox       -0.427321
rm         0.695360
age       -0.376955
dis        0.249929
rad       -0.381626
tax       -0.468536
ptratio   -0.507787
b          0.333461
lstat     -0.737663
Name: medv, dtype: float64

In [ ]:
Y = dataset['medv']
x = dataset.drop(['medv'], axis=1)

In [ ]:
#StandardScaler
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(x)
data_x = pd.DataFrame(X, columns=x.columns)

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data_x, Y, test_size=0.25, random_state=10) 

from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)

from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print("MSE (Mean Squared Error)", mse)
print("MAE (Mean Absolute Error)", mae)
print("r^2 score", r2)
print('RMSE (Root Mean Squared Error)', np.sqrt(mean_squared_error(y_test, y_pred)))

MSE (Mean Squared Error) 32.44253669600673
MAE (Mean Absolute Error) 3.8573009079955103
r^2 score 0.6745585065949404
RMSE (Root Mean Squared Error) 5.6958350306172605

In [ ]:
#PowerTransformer yeo-johnson
from sklearn.preprocessing import PowerTransformer
yj = PowerTransformer(method='yeo-johnson', standardize=True)
X = yj.fit_transform(x)
data_x = pd.DataFrame(X, columns=x.columns)

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data_x, Y, test_size=0.25, random_state=10) 

from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)

from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print("MSE (Mean Squared Error)", mse)
print("MAE (Mean Absolute Error)", mae)
print("r^2 score", r2)
print('RMSE (Root Mean Squared Error)', np.sqrt(mean_squared_error(y_test, y_pred)))

MSE (Mean Squared Error) 25.374433577494614
MAE (Mean Absolute Error) 3.626716061802263
r^2 score 0.7454609164768617
RMSE (Root Mean Squared Error) 5.037304197434835

In [ ]:
# #PowerTransformer box-cox
# from sklearn.preprocessing import PowerTransformer
# bc = PowerTransformer(method='box-cox', standardize=True, copy=True)
# X = bc.fit_transform(x)
# data_x = pd.DataFrame(X, columns=x.columns)

# from sklearn.model_selection import train_test_split
# x_train, x_test, y_train, y_test = train_test_split(data_x, Y, test_size=0.25, random_state=10)

In [ ]:
#QuantileTransformer
from sklearn.preprocessing import QuantileTransformer
qt = QuantileTransformer(n_quantiles=10, random_state=10)
X = qt.fit_transform(x)
data_x = pd.DataFrame(X, columns=x.columns)

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data_x, Y, test_size=0.25, random_state=10) 

from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)

from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print("MSE (Mean Squared Error)", mse)
print("MAE (Mean Absolute Error)", mae)
print("r^2 score", r2)
print('RMSE (Root Mean Squared Error)', np.sqrt(mean_squared_error(y_test, y_pred)))

MSE (Mean Squared Error) 29.622600123508768
MAE (Mean Absolute Error) 4.053406392340244
r^2 score 0.7028461950103237
RMSE (Root Mean Squared Error) 5.442664799848395

In [ ]:
#MinMaxScaler
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()
X = mms.fit_transform(x)
data_x = pd.DataFrame(X, columns=x.columns)

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data_x, Y, test_size=0.25, random_state=10) 

from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)

from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print("MSE (Mean Squared Error)", mse)
print("MAE (Mean Absolute Error)", mae)
print("r^2 score", r2)
print('RMSE (Root Mean Squared Error)', np.sqrt(mean_squared_error(y_test, y_pred)))

MSE (Mean Squared Error) 32.442536696006734
MAE (Mean Absolute Error) 3.8573009079955094
r^2 score 0.6745585065949403
RMSE (Root Mean Squared Error) 5.6958350306172605

In [ ]:
#MaxAbsScaler
from sklearn.preprocessing import MaxAbsScaler
mas = MaxAbsScaler()
X = mas.fit_transform(x)
data_x = pd.DataFrame(X, columns=x.columns)

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data_x, Y, test_size=0.25, random_state=10) 

from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)

from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print("MSE (Mean Squared Error)", mse)
print("MAE (Mean Absolute Error)", mae)
print("r^2 score", r2)
print('RMSE (Root Mean Squared Error)', np.sqrt(mean_squared_error(y_test, y_pred)))

MSE (Mean Squared Error) 32.442536696006734
MAE (Mean Absolute Error) 3.8573009079955107
r^2 score 0.6745585065949403
RMSE (Root Mean Squared Error) 5.6958350306172605

In [ ]:
#RobustScaler
from sklearn.preprocessing import RobustScaler
rs = RobustScaler()
X = rs.fit_transform(x)
data_x = pd.DataFrame(X, columns=x.columns)

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data_x, Y, test_size=0.25, random_state=10) 

from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)

from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print("MSE (Mean Squared Error)", mse)
print("MAE (Mean Absolute Error)", mae)
print("r^2 score", r2)
print('RMSE (Root Mean Squared Error)', np.sqrt(mean_squared_error(y_test, y_pred)))

MSE (Mean Squared Error) 32.44253669600673
MAE (Mean Absolute Error) 3.85730090799551
r^2 score 0.6745585065949404
RMSE (Root Mean Squared Error) 5.6958350306172605

# Nomor 2

In [ ]:
from sklearn.preprocessing import PowerTransformer
yj = PowerTransformer(method='yeo-johnson', standardize=True)
X = yj.fit_transform(x)
data_x = pd.DataFrame(X, columns=x.columns)

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data_x, Y, test_size=0.25, random_state=10)

In [ ]:
#RandomForestRegressor

from sklearn.ensemble import RandomForestRegressor
forest_reg = RandomForestRegressor()
forest_reg.fit(x_train, y_train)
y_pred = forest_reg.predict(x_test)
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print("MSE (Mean Squared Error)", mse)
print("MAE (Mean Absolute Error)", mae)
print("r^2 score", r2)
print('RMSE (Root Mean Squared Error)', np.sqrt(mean_squared_error(y_test, y_pred)))

MSE (Mean Squared Error) 13.944787480314957
MAE (Mean Absolute Error) 2.6408188976377955
r^2 score 0.860115363193271
RMSE (Root Mean Squared Error) 3.734272014772753

In [ ]:
#XGBoost
import xgboost as xgb
# from xgboost import XGBRFRegressor
xg_reg = xgb.XGBRegressor(objective ='reg:squarederror', colsample_bytree = 1, learning_rate = 0.1, max_depth = 5, alpha = 10, n_estimator =100)
xg_reg.fit(x_train, y_train)
y_pred = xg_reg.predict(x_test)

from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print("MSE (Mean Squared Error)", mse)
print("MAE (Mean Absolute Error)", mae)
print("r^2 score", r2)
print('RMSE (Root Mean Squared Error)', np.sqrt(mean_squared_error(y_test, y_pred)))

MSE (Mean Squared Error) 11.88327116854466
MAE (Mean Absolute Error) 2.5360648988738776
r^2 score 0.8807950946664267
RMSE (Root Mean Squared Error) 3.447212086388747

In [ ]:
#SVMRegressor
from sklearn.svm import SVR
svr_rbf = SVR(kernel='rbf', C=100, gamma=0.1, epsilon=.1)
svr_rbf.fit(x_train, y_train)
y_pred = svr_rbf.predict(x_test)
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print("MSE (Mean Squared Error)", mse)
print("MAE (Mean Absolute Error)", mae)
print("r^2 score", r2)
print('RMSE (Root Mean Squared Error)', np.sqrt(mean_squared_error(y_test, y_pred)))

MSE (Mean Squared Error) 10.842282527881064
MAE (Mean Absolute Error) 2.2149505650056738
r^2 score 0.8912375856778327
RMSE (Root Mean Squared Error) 3.2927621426214593

In [ ]:
#KNNRegressor
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=2) #n=2 mendapat nilai rmse terkecil
knn.fit(x_train, y_train)
y_pred = knn.predict(x_test)

from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print("MSE (Mean Squared Error)", mse)
print("MAE (Mean Absolute Error)", mae)
print("r^2 score", r2)
print('RMSE (Root Mean Squared Error)', np.sqrt(mean_squared_error(y_test, y_pred)))

MSE (Mean Squared Error) 20.38332677165354
MAE (Mean Absolute Error) 3.142125984251968
r^2 score 0.7955283100304924
RMSE (Root Mean Squared Error) 4.5147897815572255